<header>
    <nav class="navbar">
        <a href="/home" style="--i:1" routerLinkActive="active">Home</a>
        <a href="/skill" style="--i:2" routerLinkActive="active">Skill</a>
        <a href="/about" style="--i:3" routerLinkActive="active">About</a>
        <a href="/portfolio" style="--i:4" routerLinkActive="active">Portfolio</a>
        <a href="/education" style="--i:5" routerLinkActive="active">Education</a>
        <a href="/contact" style="--i:6" routerLinkActive="active">Contact</a>
    </nav>
</header>